</div>
    <footer>
        <p><a href="http://nickgo.me" target="_blank">Nickgo</a> 2017</p>
    </footer>
    </body>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
</html>